{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
    <div class="container">
        <div class="row">
            <h1>Book {{.title}}</h1>
        </div>
    </div>
</header>

{{if .DebugMode}}
<p>{{.dataString}}</p>
<p>{{.dataHTML}}</p>
{{end}} {{if .DevMode}}
<p>{{.dataHTML}}</p>
{{end}}

<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

{{template "footer.html" .}}